body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgba(59, 150, 235, 0.8) ;
    color: rgb(24, 165, 118);
}
